*
  +box-sizing(border-box)

html
  // http://stackoverflow.com/a/10538370
  -ms-overflow-y: scroll
  overflow-y: scroll
  height: 101%
  min-height: 100%
  padding-bottom: 1px

body
  height: 100%
  background-color: #42392f
  +default-font
  text-rendering: optimizeLegibility
  text-align: justify
  +hyphens(auto)

a
  text-decoration: none

h1
  font-size: 32px
  margin-bottom: $padding
  +headline-font
  color: $headline-colour
  margin-bottom: $padding
  border-bottom: 2px solid #ccc //a32323
  padding-bottom: 29px
  line-height: 0
  padding-top: $padding

h2
  font-size: 18px
  font-weight: bold
  margin-top: 3*$padding
  margin-bottom: $padding
  color: $headline-colour

p
  margin-bottom: $padding
  font-size: 15px
  line-height: 23px
  color: $text-colour
  &#teaser
    font-size: 17px
    line-height: 25px
    font-style: italic
    font-family: 'Droid Serif'
    color: #222

ul
  color: $text-colour

strong
  font-weight: bold
  color: $headline-colour

hr
  margin: $padding auto
