*
  +box-sizing(border-box)

body
  background-color: #42392f
  +default-font
  text-rendering: optimizeLegibility
  text-align: justify
  +hyphens(auto)

a
  text-decoration: none

h1
  font-size: 32px
  margin-bottom: $padding
  +headline-font
  color: $headline-colour
  margin-bottom: $padding
  border-bottom: 2px solid #ccc //a32323
  padding-bottom: $padding

h2
  font-size: 18px
  font-weight: bold
  margin-top: 3*$padding
  margin-bottom: $padding
  color: $headline-colour

p
  margin-bottom: $padding
  line-height: 27px
  color: $text-colour
  &#teaser
    font-size: 18px
    font-style: italic
    font-family: 'Droid Serif'
    color: #222

ul
  color: $text-colour

strong
  font-weight: bold
  color: $headline-colour
