#background-container
  position: fixed
  top: 0
  width: 100%
  height: 100%
  background-attachment: fixed
  background-position: center bottom
  background-image: image-url('background_photos/david_straw_hat_full_short.jpg')
  background-repeat: no-repeat
  background-size: cover
  z-index: -1

#page-container
  width: $page-container-width
  margin: $padding auto 15*$padding

#header
  +pie-clearfix

#logo
  float: left
  z-index: 1
  position: relative

#navigation
  +pie-clearfix
  background-color: #fff // for IE
  background: rgba(#fff, 0.8)
  background-image: image-url('noise_lines.png')
  display: inline-block
  padding: round($padding/2)
  padding-left: 2*$padding
  padding-bottom: 6px
  margin-top: 3*$padding
  margin-left: -$padding
  +border-radius(4px)

.navigation--item
  float: left
  border-right: 1px solid #666
  padding-right: $padding
  border-left: 1px solid #ddd
  padding-left: $padding
  min-width: 90px
  text-align: center
  display: inline-block
  &.first
    border-left: 0
    padding-left: 0
  &.last
    margin-right: 0
    border-right: 0
  > a
    text-decoration: none
    text-transform: uppercase
    color: #444
    &:hover
      color: #222
      border-bottom: 2px solid #444

#content-container
  +pie-clearfix
  margin-top: 2*$padding

#content
  float: left
  width: 570px
  background-color: #fff
  background-image: image-url('noise_lines.png')
  padding: 2*$padding
  padding-right: 3*$padding
  +border-radius(7px)
  +border-top-right-radius(0)
  +box-shadow(rgba(#333, 0.6) 0 0 7px)

.soundcloud-widget
  margin-top: $padding

#sidebar
  float: right
  width: 270px
  background-color: #eee
  background-image: image-url('noise_lines_30.png')
  border: 1px solid #ccc
  +border-bottom-right-radius(7px)
  +border-top-right-radius(8px)
  +box-shadow(rgba(#333, 0.6) 4px 0 4px)
  padding: $padding
  font-size: 14px
  hr
    margin: 15px auto
    border: 0
    border-bottom: 1px solid #ccc
  h3
    font-size: 16px
    float: left
    line-height: 21px

.social-wrapper
  +pie-clearfix
  margin-top: 2*$padding

#main-image
  +border-top-right-radius(7px)
  width: 269px
  height: 270px
  margin-left: -10px
  margin-top: -11px
  margin-bottom: 2*$padding

.download-note
  color: #555
  font-size: 13px
  margin-top: $padding

.dramatis-personae
  > p
    font-size: 14px
    line-height: normal
  > ul
    > li
      margin-bottom: round($padding/2)
      font-size: 13px
      > strong
        font-size: 14px
